/* 共通 */
body, h1, h2, h3, p, ul, div{
  margin: 0;
  font-size: 20px;
}
.container{
  height: 100vh;
  padding: 80px 0px 0 0px;
  text-align: center;
}
.section-title{
  padding: 130px 0 40px 0;
  font-size: 3rem;
}
a{
  text-decoration: none;
  color: black;
}
li{
  list-style: none;
}
/* ヘッダー、トップ */
header{
  height: 70px;
  width: 100%;
  background-color:rgb(255, 255, 255);
  opacity: 0.7;
  position: fixed;
  top: 0px;
  z-index: 10;
  }
.header-logo{
  float: left;
  margin: 10px 400px 10px 30px;
}
.header-list li{
  font-size: 18px;
  float: left;
  line-height: 70px;
  padding-right: 50px;
}
.main-visual h1{
  font-size: 5rem;
  position: absolute;
  top: 50%;
  left: 250px;
}
.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}
/* 自己紹介 */
.first{
  background-color:rgb(239, 243, 239, 0.959);
}
.profile{
  display: flex;
 justify-content: center;
}
.profile img{
  border: 5px solid black;
  border-radius: 50%;
}
.profile li{
  text-align: left;
 line-height: 60px; 
}
.profile .message{
  line-height: 36px;
}

/* サイト集 */
.second{
  background-color: rgb(251, 180, 47)
}
.works{
  display: flex;
  justify-content:space-around
}
.work{
  text-align: center;
}
.work img{
  border: 2px solid black;
}
.work p{
  font-size: 16px;
  padding: 0 30px;
}
/* スキル */
.third{
  background-color: #1d809f;
  height: 150vh;
  color: white;
 }
.skills{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.skill{
  width: 33%;
}
.skill .fab{
  height: 180px;
  width: 200px;
  background-color: white;
  border-radius: 50%;
  font-size: 150px;
  color: #1d809f;
  padding-top: 20px;
}
.skill h3 .fas{
  color: gold;
}
.skill h3{
  margin: 10px 0 0 0 ;
}
.skill p{
  padding: 0 30px;
  font-size: 16px;
  margin: 0 0 15px 0 ;
}
/* 連絡先 */
.forth{
  background-color: rgb(240, 245, 255);
  height: 25vh;
}
.forth .section-title{
  padding-top: 0px;
}
.fa-twitter{
  font-size: 50px;
}

@media(max-width:1000px){
  .first, .second{
    height: 50vh;
  }
  .third{
    height: 75vh;
  }
  .main-visual h1{
    position: absolute;
    top: 150px;
  }
    .header-logo{
    margin-right: 150px;
  }
  .work{
    width: 50%;
  }
  .header-list{
    display: none;
  }
  .menu-icon{
    display: inline-block;
    color: black;
  }
}
@media(max-width:670px ){
  .first, .second{
    height: 50vh;
  }
  .third{
    height: 75vh;
  }
  .main-visual h1{
    position: absolute;
    top: 150px;
  }
    .header-logo{
    margin-right: 150px;
  }
  .work{
    width: 50%;
  }
  .header-list{
    display: none;
  }
  .menu-icon{
    display: inline-block;
    color: black;
  }
}
